
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */

.logo img{
    width: auto;
    height: auto;
    position: relative;
    top: 20px;
}
.banner-content h3{
    font-size: 9em;
}
.top-icons{
    display: flex;
    position: relative;
    top: -40%;

}
.main-nav{
    position: relative;
    top: 5px;
}
.intro-slide.banner .banner-content .banner-title{
font-size: 10rem;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {
    .intro-slide.banner .banner-content .banner-title{
        font-size: 13rem;
            }  
           
}
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
   
    .logo img{
        position: relative;
        top: -60px;
        left: 20%;
    }
    .main-nav{
        position: relative;
        top: -80px;
    }
    .top-icons{
        position: relative;
        top: -80px;
        display: flex;
    }

    .intro-slide.banner .banner-content .banner-title{
        font-size: 6rem;
            }  
    
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .logo img{
        position: relative;
        top: -40px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
        position: relative;
        top: -60px;
        left: -2%;
    }
    .card-rating{
    position: absolute;
    right: 8.5rem;
    bottom: -26rem;
    }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .logo img{
        position: relative;
        top: -40px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
        position: relative;
        top: -60px;
        left: -2%;
    }
    .card-rating{
    position: absolute;
    right: 10.5rem;
    bottom: -26rem;
    }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .logo img{
        position: relative;
        top: -40px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
       padding-left: 380px;
       
    }
    .card-rating{
    position: absolute;
    right: 12.5rem;
    bottom: -26rem;
    }

  
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .logo img{
        position: relative;
        top: -2px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
        position: relative;
        top: -30px;
        left: -2%;
    }
    .card-rating{
    position: absolute;
    right: 10.5rem;
    bottom: -26rem;
    }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */




    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */

    .logo img{
        position: relative;
        top: -2px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
        position: relative;
        top: -30px;
        left: -2%;
    }
    .card-rating{
    position: absolute;
    right: 12.5rem;
    bottom: -26rem;
    }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .logo img{
        position: relative;
        top: -40px;
        left: -2%;
    }
   
    .mobile-menu-toggler{
        position: relative;
        top: -60px;
        left: -2%;
    }
    .card-rating{
    position: absolute;
    right: 10.5rem;
    bottom: -26rem;
    }
    }

    /* iphone 12 and 12 pro */
    @media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
        .logo img{
            position: relative;
            top: -2px;
            left: 5%;
        }
       
        .mobile-menu-toggler{
            position: relative;
            top: -30px;
            padding-right: 30px;
        }
        .card-rating{
        position: absolute;
        right: 12.5rem;
        bottom: -26rem;
        }
        body{
            background-color: red;
        }
     }

 /* iphone 12 pro max*/
    @media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {

        .logo img{
            position: relative;
            top: -2px;
            left: 5%;
        }
       
        .mobile-menu-toggler{
            position: relative;
            top: -30px;
            padding-right: 30px;
        }
        .card-rating{
        position: absolute;
        right: 12.5rem;
        bottom: -26rem;
        }
     }

     /* Samsung Galaxy Fold Landscape----------- */
    @media only screen and (min-device-width: 717px) and (max-device-height: 512px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        /* Styles */
        .logo img{
            position: relative;
            top: -60px;
            left: -2%;
        }
       
        .mobile-menu-toggler{
            position: absolute;
            top: -40px;
            right: 6%;
            
        }
        .card-rating{
        position: absolute;
        right: 1.5rem;
        bottom: -6rem;
        }
      
     }
        
        
        @media only screen and (min-device-width: 512px) and (max-device-height: 717px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        /* Styles */
        .logo img{
            position: relative;
            top: -40px;
            left: -2%;
        }
       
        .mobile-menu-toggler{
            position: absolute;
            top: -40px;
            left: 90%;
            
            
        }
        .card-rating{
        position: absolute;
        right: 15.5rem;
        bottom: -26rem;
        }
       
      
     }

          /* Samsung Galaxy Fold potrait----------- */
    @media only screen and (min-device-width: 280px) and (max-device-height: 653px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .logo img{
            position: relative;
            top: -40px;
            left: -2%;
        }
       
        .mobile-menu-toggler{
            position: absolute;
            top: -40px;
            left: 90%;
            
            
        }
        .card-rating{
        position: absolute;
        right: 15.5rem;
        bottom: -26rem;
        }
        body{
            background-color: red;
        }
    }
        